.doalogs {
 height: 100%;
}

.dialogs__title {

}

.dialogs__container {
  display: flex;

  height: 100%;
}

.dialogs__user {
 flex: 1 1 30%;

 padding: 10px;

 border-right: 1px solid #000;
}

.dialogs__list {

}

.dialogs-list {

}

.dialogs__message {
  flex: 1 1 70%;

  padding: 10px
}

.dialogs__mess {
  margin: 0 0 20px 0;
}

.dialogs__mess:last-child {
  margin: 0 0 0 0;
}
