.doalogs {
 height: 100%;
}

.dialogs__title {

}

.dialogs__container {
  display: flex;

  height: 100%;
}

.dialogs__user {
 flex: 1 1 30%;

 padding: 10px;

 border-right: 1px solid #000;
}

.dialogs__list {

}

.dialogs-list {

}

.dialogs-list__item {
 margin: 0 0 10px 0;
}

.dialogs-list__item:last-child {
  margin: 0 0 0 0;
}

.dialogs-list__link {

}

.dialogs-list__link.active {
  font-weight: bold;
}

.dialogs__message {
  flex: 1 1 70%;

  padding: 10px
}

.dialogs__mess {
  margin: 0 0 20px 0;
}

.dialogs__mess:last-child {
  margin: 0 0 0 0;
}

.dialogs-mess {
  display: flex;
}

.dialogs-mess__avatar {
  border-radius: 50px;
}

.dialogs-mess__img {
  display: block;

  width: 50px;
  height: 50px;

  border-radius: 50px;

  background-color: green;
}

.dialogs-mess__user-name {
  margin: 10px 0 0 0;
}

.dialogs-mess__posts {
  width: 300px;
  min-height: 20px;

  margin: 0 0 0 20px;
  padding: 10px;

  border-radius: 10px;

  background-color: #fff;
}

.dialogs-mess__text {

}
