.user {
  display: flex;
}

.wrapper_image {

}

.image {
  width: 200px;
  height: 200px;
}

.img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.wrapper_staus {
  margin: 5px 0 0 0;
}

.wrapper_staus__text {

}

.wrapper_staus__input {

}

.info {
  padding: 10px;
}

.title {
  margin: 0 0 20px 0;
}

.user__list {

}

.list {

}

.list__item {
  margin: 0 0 5px 0;
}

.list__item:last-child {
  margin: 0 0 0 0;
}

.list__dada {
  margin: 0 5px 0 0;
}

.list__text {

}
