
.nav {

}

.nav__list {

}

.nav-list {

}

.nav-list__item {
  margin: 0 0 5px 0;
}

.nav-list__item:last-child {
  margin: 20px 0 0 0;
}

.nav-list__link {
  position: relative;

  color: white;
}

.nav-list__link.active {
  color: gold;
}

.nav-list__link.active::after {
  content: "";

  position: absolute;
  top: calc(50% - 3px);
  right: -13px;

  display: block;

  width: 8px;
  height: 8px;

  background-color: tomato;

  border-radius: 5px;
}

@media (max-width: 720px) {
  .aside {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    padding: 5px;

    background-color: green;
  }

  .nav__list {
    display: flex;

    justify-content: space-between;
  }

  .nav-list__item {
    margin: 0 10px 0 0;
  }

  .nav-list__item:last-child {
    margin: 0 0 0 0;
  }

  .nav-list__link.active::after {
    top: 1.3em;
    right: calc(50% - 4px);
  }

  .nav {
   width: 100%;

   padding: 0 10px;
  }
}
