.list {
  margin: 0;
  /* padding: 0; */

  list-style: circle;
}

.list__item {
  margin: 0 0 5px 0;
}

.list__item:last-child {
  margin: 0;
}

.list__item--active {
  text-decoration: line-through;
}
