.login-form {
  padding: 10px;

  width: 300px;

  border: 1px solid #000;

  border-radius: 10px;;
}

.login-form__input-wrapper {
  margin: 0 0 10px 0;
}

.login-form__input {

}

.login-form__label {

}

.login-form__submit {

}
