
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.wrapper {
  display: grid;

  grid-template-areas:
    "header header"
    "aside main";

  grid-template-rows: 50px 1fr;
  grid-template-columns: 25% 1fr;

  grid-gap: 10px;
}



.main {
  grid-area: main;

  background: #75a0ff;
}

.main__top {

}
