
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.wrapper {
  display: grid;

  grid-template-areas:
    "header header"
    "aside main";

  grid-template-rows: 50px 1fr;
  grid-template-columns: 25% 1fr;

  grid-gap: 10px;
}

.header {
  grid-area: header;

  background-color: green;
}

.header__img {
 height: 100%;
}

.aside {
  grid-area: aside;

  display: flex;
  flex-direction: column;

  padding: 5px;

  background-color: green;
}

.nav {

}

.nav__list {

}

.nav-list {

}

.nav-list__item {
  margin: 0 0 5px 0;
}

.nav-list__item:last-child {
  margin: 20px 0 0 0;
}

.nav-list__link {
  color: white;
}

.main {
  grid-area: main;

  background: #75a0ff;
}

.main__top {

}

.main-top {
  height: 70px;
}

.main-top__img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}





.user {
  display: flex;
}

.user__image {
  width: 200px;
  height: 200px;
}

.user__img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.user__info {
  padding: 10px;
}

.user__title {
  margin: 0 0 20px 0;
}

.user__list {

}

.user-list {

}

.user-list__item {
  margin: 0 0 5px 0;
}

.user-list__item:last-child {
  margin: 0 0 0 0;
}

.user-list__dada {
  margin: 0 5px 0 0;
}

.user-list__text {

}


.post {
  margin: 50px 0 0 0;

  padding: 0 10px;
}

.post__title {

}

.post__form {
  margin: 20px 0 0 0;

  text-align: right;
}

.post__textarea {
  width: 100%;
  min-height: 70px;

  resize: none;
}

.post__btn {
  margin: 10px 0 0 0;
}

.post__post {

}

.post-post {
  display: flex;
}

.post-post__ava {
  width: 50px;
  height: 50px;

  background-color: orange;

  border-radius: 25px;
}

.post-post__text {
  margin: 0 0 0 20px;
}
